/* 共通レイアウト ================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #364a4d;
}

ul, li {
  list-style-type: none;
}

ul {
	padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #1f89e2;
}

a:hover {
  text-decoration: underline;
  color: #1b7ccd;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*circle.css*/
.c-container{
  background-image: url(../public/main_vsl02.jpg);
}

.c-box{
  margin: 20px;
}

.c-font{
  font-size: 20px;
  font-weight: bold;
}


/* フォント ================================ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 32px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
}

p {
  font-size: 16px;
  line-height: 40px;
}

/* Topページ =============================== */
.top-image {
  width: 100%;
  height: 600px;
  background-image: url("otaTop.png");
  position: relative;
}

.logo-top {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 5px;
  left: 40px;
  border-radius: 30%;
}

/* ヘッダー ================================ */
.navbar {
  height: 75px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 0px;
}

#logo {
  float: left;
  font-size: 28px;
  color: #FF77FF;
  letter-spacing: -1px;
  font-weight: bold;
}

.sub-ttl {
  font-size: 14px;
  color: pink;
  padding-top: 10px;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 20px;
  padding: 0 18px;
  float: left;
  color: white;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
  padding-top: 50px;
}

/* フッター ================================ */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #848484;
}

footer .small {
  float: left;
  font-size: 14px;
}


