<head>
<style type="text/css">
	.c-container{
		padding-top: 40px;
		width: 100%;
		height: 800px;
		background-image:url(/images/events.1.jpg)
	}
</style>
</head>

<div class="c-container">
<h1>サークル一覧</h1>

<%= search_form_for @search do |f|  %>

<%#= f.label :title_or_body_cont,"サークル名" %>

<%= f.search_field :title_or_body_cont %>

<%= f.submit %>

<% end %>

<% @circles.each do |circle| %>
  <p>タイトル</p>
  <span><%= link_to circle.title, circle_path(circle) %></span>
<% end -%>
</div>




